# Pasta de compilação
/build/
/dist/
/out/

# Arquivos do NetBeans
/nbproject/private/
/nb-configuration.xml

# Arquivos compilados Java
*.class

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp

# Arquivos de sistema
.DS_Store
Thumbs.db

# classe não deve ser comitada
/src/conexao/Conexao.java

